.eye-outer {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}

.eye-inner {
  fill: #000;
}

.characterCanvas {
    position: relative;
    max-width: 420px;
    text-align: center;
}

.Eyes {
    position: absolute;
    height: 50%;
    width: 90%;
}